<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Fiding India</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <!-- <link rel="preload" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap"></noscript>
    <link rel="stylesheet" href="/style.css" /> -->
  </head>
  <body>


    <section id="Navigation">
      <div class="header">
        <div id="section1">
          <ul class="nav justify-content-center">
            <li id="logo" class="nav-item" (click) = "Index()">
              <img src="../../../../assets/logo.png" width="50px"/>
              <strong >Helping Hands</strong>
            </li>
            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                >About Us</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" (click) = "mission()">Mission</a>
                </li>
                <li><a class="dropdown-item" (click) = "mission()">Vision</a></li>
                <li><a class="dropdown-item" (click) = "mission()">Team</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                >Our Work</a
              >
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" (click)= "dailyFeeding()"
                    >Daily Feeding Program</a
                  >
                </li>
                <li>
                  <a class="dropdown-item" (click)= "ReliefCampaign()"
                    >Relief Campeign</a
                  >
                </li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                >Partner With Us</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click)= "NgoLogin()">NGO Login</a></li>
                <li><a class="dropdown-item" (click)= "HotelLogin()">Hotel Login</a></li>
                <li><a class="dropdown-item" (click)= "VolunteerLogin()">Volunteer Login</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                data-bs-toggle="dropdown"
                href="#"
                role="button"
                >Call To Action</a
              >
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" (click) = "ContactUs()">Contact Us</a></li>
                <li><a class="dropdown-item" (click) = "AdminLogin()">Admin</a></li>
              </ul>
            </li>

            <li class="nav-item">
              <button type="button" class="btn btn-danger" (click)= "ReliefCampaign()">Donate Now</button>
            </li>
          </ul>

          <div id="sec">
            <h1>Daily Feeding Program</h1>
            <h4>We serve daily meals to people in need across India.</h4>
            <button type="button" class="btn btn-danger" (click)= "ReliefCampaign()">Donate Now</button>
          </div>
        </div>
      </div>
    </section>

    <section  class="content4 cid-tDA6H4YKk7" id="content4-26">
      <div class="container">
          <div class="row justify-content-center">
              <div class="title col-md-12 col-lg-10">
                  <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-6">Whether it is freshly cooked food or raw grains, we’re all <strong>hands on deck </strong>to take care of the food requirements for your beneficiaries.</h3>
              </div>
          </div>
      </div>
      
  </section>
  <section data-bs-version="5.1" class="image2 cid-tDhYaJyBBO" id="poshan">
    

    
    

    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-5">
                <div class="image-wrapper">
                    <img src="../../../../assets/reshan.jpg" alt=".." height="350px"width="400px">
                    <p class="mbr-description mbr-fonts-style mt-2 align-center display-4"></p>
                </div>
            </div>
            <div class="col-12 col-lg">
                <div class="text-wrapper">
                   
<p class="mbr-text mbr-fonts-style mb-3 display-6s">Helping Hands is a not for profit organization, designing interventions to reduce hunger among underserved communities in India.</p>

                    <p class="mbr-text mbr-fonts-style display-7">In January 2022, Helping Hands (registered as Hunger Heroes) collaborated to eradicate hunger and malnutrition in India.
<br>
<br>All efforts are concerted towards providing better food to more people. Through our targeted interventions for child and maternal malnutrition, we are working towards bringing large-scale systemic transformation in the nutrition landscape of India.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section data-bs-version="5.1" class="content4 cid-tDivkk2pcc" id="quote">
    
  <div class="container" >
      <div class="row justify-content-center">
          <div class="title col-md-12 col-lg-11">
              <h3 class="mbr-section-title mbr-fonts-style align-center mb-4 display-7"><strong>“Kindness is universal. Sometimes being kind allows others to see the goodness in humanity through you. Always be kinder than necessary.”</strong></h3>
              
              
          </div>
      </div>
  </div>
</section>
<section data-bs-version="5.1" class="image2 cid-tDhZFepf2r mbr-parallax-background" id="image2-t">
    

    
  <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(255, 255, 255);">
  </div>

  <div class="container">
      <div class="row align-items-center mt-5">
          <div class="col-12 col-lg-4">
              <div class="image-wrapper">
                  <img src="../../../../assets/WhatsApp Image 2023-05-13 at 1.29.29 PM.jpeg" alt="..." height="300px" width="250px">
                  <p class="mbr-description mbr-fonts-style mt-2 align-center display-4"></p>
              </div>
          </div>
          <div class="col-12 col-lg">
              <div class="text-wrapper">
                  <h3 class="mbr-section-title mbr-fonts-style mb-3 display-5">Daily Feeding Program</h3>
                  <p class="mbr-text mbr-fonts-style display-7">Despite the significant progress India has made, a large number of people still face the risk of food insecurity. The COVID-19 pandemic has further exacerbated the challenge of hunger in our country.
<br>
<br>As a response to the devastating consequences of the pandemic, Helping Hands Organization launched the
<br>Helping Hands Program in January 2022<br>to provide daily meal support to the most vulnerable families.<br><br>Under this program, Helping Hands has served 4.3+ crore meals with the main focus on reducing hunger for the most vulnerable.</p>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="rlf" id>
    
  <div class="relief mt-lg-3 text-center">

    <h5 class="mbr-section-title mbr-fonts-style mb-3 display-5">Relief Compaign</h5>
    <h6 class="mbr-text mbr-fonts-style display-6">Contribution to Relief Compaign</h6>  
   
</div>


  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets//poshanChamp.jpg" class="card-img-top" alt="..." width="100px" height="300px">
        <div class="card-body">
          <h5 class="card-title"><strong>Food Donation</strong></h5>
          <p class="card-text">The Helping Hands Organization serves mid-day meals to school children in government and government-aided schools of India.</p>
        </div>
        <div class="btn item-footer mt-2"><a (click)= "ReliefCampaign()" class="btn btn-primary display-7" target="_blank">Read More &gt;</a></div>
        <br>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets//indian-education-system-600x400.jpg" class="card-img-top" alt="..." width="100px" height="300px">
        <div class="card-body">
          <h5 class="card-title">Education Donation</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="btn item-footer mt-2"><a (click)= "ReliefCampaign()" class="btn btn-primary display-7" target="_blank">Read More &gt;</a></div>
        <br>
      </div>
      </div>
    
    <div class="col">
      <div class="card h-100">
        <img src="../../../../assets/images-230x219.jpg" class="card-img-top" alt="..." width="100px" height="300px">
        <div class="card-body">
          <h5 class="card-title">Medical Donation</h5>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="btn item-footer mt-2"><a (click)= "ReliefCampaign()" class="btn btn-primary display-7" target="_blank">Read More &gt;</a></div>
        <br>
      </div>
      </div>
    </div>

    </section>  
   
  
  

    <!--footer-->
    <div class="gray">
      <div class="margin">
        <div class="column1">
          <img
              src="../../../../assets/logo.png"
              width="50px"
            />
            <strong>Helping Hands</strong>
           <p>Symbiosis Skills and Professional<br>University,Pune.<br><br>All donations are tax-exempted as eligible under section 80G of the Income Tax Act, 1961.</p>
        </div>
        <div class="column2">
          <h5>Who We are</h5>
          <a (click) = "mission()">About us</a>
          <a (click) = "ContactUs()">Contact us</a>
          
        </div>
        <div class="column3">
          <h5>Get Involved</h5>
          <a (click)= "ReliefCampaign()">Donate</a>
          <a (click) = "ContactUs()">Request for food</a>
        </div>
        <div class="column4">
          <h5>Social</h5>
          <i class="bi bi-facebook"></i>
          <i class="bi bi-twitter"></i>
          <i class="bi bi-instagram"></i>
          <i class="bi bi-linkedin"></i>
        </div>
      </div>
    </div>
    
    <!--end-->
   
  </body>
</html>
